<!DOCTYPE html>
<html lang="no">
<head>
    {% block tittle %} <title>Søk mot Brønnøysundregisteret</title> {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Getting Bootstrap. Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


</head>

<body>


<div class="container-fluid">
    <div class="jumbotron text-center">
    <h1>Søk i Enhetsregisteret</h1>
    <p>Tast inn foretaksnavn eller organisasjonsnummer</p>
    </div>

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Hjem</a></li>
          <li><a href="{% url 'links' %}">Ressurser</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>

      <footer class="footer">
          {% include 'footer.html' %}
      </footer>
</body>
</html>