<!DOCTYPE html>
<html lang="no">
<head>
    {% block tittle %} <title>Søk mot Brønnøysundregisteret</title> {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Getting Bootstrap. Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


</head>

<body>


<!--div class="container-fluid"-->
<div class="container">


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BrønnøysundSøk</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">Hjem</a></li>
                    <li><a href="{% url 'links' %}">Ressurser</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Søk i Enhetsregisteret</h1>
        <p>Finn foretak/selskap</p>
    </div>


    <div class="row">
        <div class="center-block col-md-4" style="float: none">
            {% block content %}{% endblock %}
        </div>
    </div>


    <!--footer class="footer">
          {#% include 'footer.html' %#}
    </footer-->

    <footer class="navbar-default navbar-fixed-bottom">
        <div class="container">
            <!--div class="container-fluid"-->

            <span>{% include 'footer.html' %}</span>
        </div>
    </footer>

</div>

</body>
</html>