{% extends "base.html" %}

{% block content %}

<p>Tast inn foretaksnavn eller organisasjonsnummer</p>
<form id="form" role="form" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <input name="search"
           class="form-control"
           type="search"
           id="search"
           placeholder=""
           ic-post-to="{% url 'search' %}"
           ic-trigger-on="keyup changed"
           ic-trigger-delay="30ms"
           ic-target="#search-result-container"
    />
</form>
<span id="search-result-container"></span>
<!-- here we can check if query is of length 9 and all numbers we can call orgview, else search-->

{% if query %}

    {% include 'search.html' %}
{% include 'map.html' %}

{% endif %}

{% endblock %}
