{% extends "base.html" %}


{% block content %}
    <h1>Nyttige ressurser:</h1>
<li><a href="https://docs.djangoproject.com">Django docs</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Home_page">Django tutorial</a></li>
<li><a href="https://petercuret.com/add-ajax-to-django-without-writing-javascript/">Ajax to Django without JS</a></li>
<li><a href="http://data.brreg.no/oppslag/enhetsregisteret/enheter.xhtml">Brønnøysundregistrenes API</a></li>
<li><a href="https://kartverket.no/data/lage-kart-pa-nett/">Kartverket API</a></li>
<li><a href="http://ws.geonorge.no/adresse/dok/AdresseWS_sok.html#enkelt%20adressesøk">Adressesøk fra Geonorge API</a></li>


{% endblock %}