{% extends "base.html" %}

{% block content %}
    <!--h1>Søk i Enhetsregisteret</h1-->

    {% if query %}
        <h3>Du søkte for:<i> {{ query }} </i></h3>

            {% if message %}
                <h3> {{ message }} </h3>
            {% endif %}

            {% if data and reg_num %}

                 <ul>
                    {% for element in data %}

                 <li>{{ element|urlize }}</li>
                 <!--li> {#{ element }#}</li-->

                    {% endfor %}
                 </ul>

            {% endif %}
    {% endif %}

{% if reg_num %}
    {% include 'map.html' %}
{% endif %}

{% endblock %}