
{% if query %}
    <h3>Du søkte for:<i> {{ query }} </i></h3>

        {% if message %}
            <h3> {{ message }} </h3>
        {% endif %}

    {% if data and reg_num %}

             <ul>
            {% for element in data %}

                 <li> {{ element }}</li>

            {% endfor %}
            </ul>

    {% elif data %}
             <ul>
            {% for org_num, name in data %}

                <li>
                    {% comment %}
                    {{ name }} med organisasjonsnummeret {{ org_num }}
                    {% endcomment %}
<form id="form" role="form" action="{% url 'orgview' %}" method="post">
	{% csrf_token %}
	<input name="search" id="search" type="search" value="{{ org_num }}" hidden/>
	<button type="submit">{{ name }}</button>
</form>
                     </li>



            {% endfor %}
            </ul>

    {% endif %}
{% endif %}



