
{% if query %}
    <h3>Du søkte for:<i> {{ query }} </i></h3>

        {% if message %}
            <h3> {{ message }} </h3>
        {% endif %}

    {% if data and reg_num %}

             <ul>
            {% for element in data %}

                 <li> {{ element }}</li>

            {% endfor %}
            </ul>

    {% elif data %}
             <ul>
            {% for org_num, name in data %}

                <li><a href="{% url 'index' org_num %}">{{ name }}</a></li>


            {% endfor %}
            </ul>

    {% endif %}
{% endif %}



